<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}

  <!-- Static -->
  <link href="{% static 'booking_app/css/styles.css' %}" rel="stylesheet">
  <script src="{% static 'booking_app/js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'booking_app/js/main.js' %}"></script>

  <!-- CDN -->
  <script src="https://kit.fontawesome.com/0a4905cadf.js" crossorigin="anonymous"></script>

  <title>
    {% block title %}{% endblock title %}
  </title>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar has-text-weight-bold" role="navigation">
    <div class="navbar-brand">
      <p class="navbar-item is-size-4">Meeting</p>
      <a class="navbar-burger" role="button" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item is-colorized" href="{% url "booking_app:home" %}">
          <div class="icon-text">
            <span class="icon"><i class="fa-solid fa-house"></i></span>
            <span>Home</span>
          </div>
        </a>
        <a class="navbar-item is-colorized" href="{% url "booking_app:booking_new" %}">
          <div class="icon-text">
            <span class="icon"><i class="fa-solid fa-book"></i></span>
            <span>Book a Room</span>
          </div>
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item is-colorized">Username</a>
        <button class="button is-rounded my-2 mx-2" id="theme-toggle">
          <span class="icon"><i class="fa-solid fa-circle-half-stroke"></i></span>
        </button>
      </div>
    </div>
  </nav>


  <div class="container is-fluid">
    {% block content %}{% endblock content %}
  </div>
</body>
</html>